
{% extends 'base.html' %}

{% block extra_title %}messages list{% endblock extra_title %}

{% block content%}


<p>Messages list:</p>
<div class="container-fluid">
  <div class="row">
{% for email in object_list %}
  	<div class="col-3">
       <p>To:  {{ email.receiver }} <br>
          Subject: {{ email.subject }} <br>
      	  Status: {% if email.send_status is True %}<span > mail send </span>
      {% else %}<span> mail sheduled </span>
      {% endif %} <br>
      	  Created: {{ email.sending_time|date:'e Y-m-d H:i:s' }}<br>
  		  Delay: {{ email.delay }} sec</p>
    </div>
    <div class="col-9">  
    <label for="mail_body">Message :</label>
    <textarea id = "mail_body" rows="6" cols="70" >{{ email.body }}</textarea>
    </div>
    <hr>
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
				    <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
						<a href="?page={{ paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}