
{% load static %}

<!DOCTYPE html>  
<html lang="en">  
<head>  
        <meta charset="UTF-8">  
	<title>Emails</title> 


</head>
<body>

<form id="email_form" method="post" action="{% url 'mail_form' %}">
  {% csrf_token %}
  {{ form.as_ul }}
  <input type="submit" value="Send mail">
</form>

<p>Emails stat</p>
<ul>
{% for email in object_list %}
  <li>
    created: {{ email.sending_time|date:'e Y-m-d H:i:s' }} | {{ email.receiver }} | delay: {{ email.delay }} sec
    <p>status on {{ email.get_status_display }}
      {{ email.status }}
    {% if email.status is True %}<span > mail send </span>
    {% else %}<span> mail sheduled </span>
    {% endif %}
    </p>
    <p>Subject: {{ email.subject }}</p>
    <p>Text: {{ email.body }}</p>
  </li>
{% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
				    <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
						<a href="?page={{ paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</body>
</html>